.container{
  display: flex;
  margin-top: 60px;
}

.menu{
  background-color: white;
  border-radius: 30px;
  width: 20%;
  margin: 0 40px;
  display: flex;
  flex-direction: column;
  height: 300px;
  padding: 20px;
}

.menuItem{
  font-size: 16px;
  font-weight: 600;
  padding: 10px;
  max-width: 250px;
  cursor: pointer;
  display: flex;
  align-items: center;  
  justify-content: flex-start;
  gap: 8px;
  color: var(--brown);

  
}

.profile{
  height: 80px;
  
}

.profilePic{
  background-color: var(--brown);
  margin: 10px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}
.profileIcon{
color: var(--brown);
}

.details{
  display: flex;
  width: 70%;
  background-color: white;
  border-radius: 30px;
  margin: 0px 10px;
  display: flex;
  flex-direction: column;
}

h2{
  margin: 12px;
  padding: 10px 20px;
  font-size: 25px;
  font-weight: 600;
  width: 100%;
  height: 50px;
 
}

.info{
  margin: 10px 30px;
  display: flex;
  gap: 16px;

}

h3{
  font-size: 14px;
  font-weight: 500;
}

.input{
  background-color: rgb(243, 242, 242);
  width: 420px;
  border-radius: 8px;
  height: 50px;
  margin: 10px 0px;
  padding-left: 12px;
  
}

.input::placeholder{
  
  color: rgb(148, 148, 148);
  font-size: 16px;
  
}

input:focus {
  outline: none;
  box-shadow: none;
}

